In [1]:
import numpy as np
import pandas as pd

## Timestamp object
- Time stamps reference particular in time e.g. Oct 24th,2022 at 7:00pm

In [4]:
# creating a timestamp
t =pd.Timestamp("2023/1/5")
t

Timestamp('2023-01-05 00:00:00')

In [5]:
type(t)

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
# variation
print(pd.Timestamp("2023-1-5"))
print(pd.Timestamp("2023, 1, 5"))

2023-01-05 00:00:00
2023-01-05 00:00:00

In [8]:
# only year
pd.Timestamp('2023')

Timestamp('2023-01-01 00:00:00')

In [9]:
# text
pd.Timestamp("5th january 2023")

Timestamp('2023-01-05 00:00:00')

In [10]:
# time
pd.Timestamp("5th january 2023 9:21PM")

Timestamp('2023-01-05 21:21:00')

In [ ]:
pd.Timestamp("2023/1/5")

In [ ]:
# AM And PM

In [12]:
# using datetime.datetime object
import datetime as dt

x=pd.Timestamp(dt.datetime(2023,1,5,9,21,56))
x

Timestamp('2023-01-05 09:21:56')

In [14]:
x.year

2023

In [18]:
x.month_name

In [15]:
x.minute

21

# why separate objects to handle data and time when python already has datetime functionality?
- syntax wise datetime is very convenient
- But the performance takes a hit while working with huge data. List vs Numpy Array
- The weaknesses of Python's datetime format inspired the NumPy team to add a set of native time series data type to NumPy.
- The datetime64 dtype encodes dates as 64-bit integers, and thus allows arrays of dates to be represented very compactly.

In [19]:
import numpy as np
date = np.array('2015-07-04', dtype=np.datetime64)
date

array('2015-07-04', dtype='datetime64[D]')

In [20]:
date + np.arange(12)

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
       '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
      dtype='datetime64[D]')

- Because of the uniform type in NumPy datetime64 arrays, this type of operation can be accomplished much more quickly than if we were working directly with Python's datetime objects, especially as arrays get large

- Pandas Timestamp object combines the ease-of-use of python datetime with the efficient storage and vectorized interface of numpy.datetime64

- From a group of these Timestamp objects, Pandas can construct a DatetimeIndex that can be used to index data in a Series or DataFrame

## DatetimeIndex Object
- A collection of pandas timestamp

In [22]:
# from strings
type(pd.DatetimeIndex(['2023/1/1','2022/1/1','2021/1/1']))

pandas.core.indexes.datetimes.DatetimeIndex

In [23]:
# using python datetime object
pd.DatetimeIndex([dt.datetime(2023,1,1),dt.datetime(2022,1,1),dt.datetime(2021,1,1)])

DatetimeIndex(['2023-01-01', '2022-01-01', '2021-01-01'], dtype='datetime64[ns]', freq=None)

In [24]:
# using pd.timestamps
dt_index = pd.DatetimeIndex([pd.Timestamp(2023,1,1),pd.Timestamp(2022,1,1),pd.Timestamp(2021,1,1)])

In [25]:
# using datatimeindex as series index

pd.Series([1,2,3],index=dt_index)

2023-01-01    1
2022-01-01    2
2021-01-01    3
dtype: int64

## date_range function

In [26]:
# generate daily dates in a given range
pd.date_range(start='2023/1/5',end='2023/2/28',freq='3D')

DatetimeIndex(['2023-01-05', '2023-01-08', '2023-01-11', '2023-01-14',
               '2023-01-17', '2023-01-20', '2023-01-23', '2023-01-26',
               '2023-01-29', '2023-02-01', '2023-02-04', '2023-02-07',
               '2023-02-10', '2023-02-13', '2023-02-16', '2023-02-19',
               '2023-02-22', '2023-02-25', '2023-02-28'],
              dtype='datetime64[ns]', freq='3D')

In [3]:
# B : Business days
pd.date_range(start="2023/1/5",end="2023/1/28",freq="B")

DatetimeIndex(['2023-01-05', '2023-01-06', '2023-01-09', '2023-01-10',
               '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26',
               '2023-01-27'],
              dtype='datetime64[ns]', freq='B')

In [4]:
# W : one day per week
pd.date_range(start="2023/1/5",end="2023/1/28",freq="W-THU")

DatetimeIndex(['2023-01-05', '2023-01-12', '2023-01-19', '2023-01-26'], dtype='datetime64[ns]', freq='W-THU')

In [5]:
# H hourly data
pd.date_range(start="2023/1/5",end="2023/1/28",freq="6H")

DatetimeIndex(['2023-01-05 00:00:00', '2023-01-05 06:00:00',
               '2023-01-05 12:00:00', '2023-01-05 18:00:00',
               '2023-01-06 00:00:00', '2023-01-06 06:00:00',
               '2023-01-06 12:00:00', '2023-01-06 18:00:00',
               '2023-01-07 00:00:00', '2023-01-07 06:00:00',
               '2023-01-07 12:00:00', '2023-01-07 18:00:00',
               '2023-01-08 00:00:00', '2023-01-08 06:00:00',
               '2023-01-08 12:00:00', '2023-01-08 18:00:00',
               '2023-01-09 00:00:00', '2023-01-09 06:00:00',
               '2023-01-09 12:00:00', '2023-01-09 18:00:00',
               '2023-01-10 00:00:00', '2023-01-10 06:00:00',
               '2023-01-10 12:00:00', '2023-01-10 18:00:00',
               '2023-01-11 00:00:00', '2023-01-11 06:00:00',
               '2023-01-11 12:00:00', '2023-01-11 18:00:00',
               '2023-01-12 00:00:00', '2023-01-12 06:00:00',
               '2023-01-12 12:00:00', '2023-01-12 18:00:00',
               '2023-01-13 00:00:00', '2023-01-13 06:00:00',
               '2023-01-13 12:00:00', '2023-01-13 18:00:00',
               '2023-01-14 00:00:00', '2023-01-14 06:00:00',
               '2023-01-14 12:00:00', '2023-01-14 18:00:00',
               '2023-01-15 00:00:00', '2023-01-15 06:00:00',
               '2023-01-15 12:00:00', '2023-01-15 18:00:00',
               '2023-01-16 00:00:00', '2023-01-16 06:00:00',
               '2023-01-16 12:00:00', '2023-01-16 18:00:00',
               '2023-01-17 00:00:00', '2023-01-17 06:00:00',
               '2023-01-17 12:00:00', '2023-01-17 18:00:00',
               '2023-01-18 00:00:00', '2023-01-18 06:00:00',
               '2023-01-18 12:00:00', '2023-01-18 18:00:00',
               '2023-01-19 00:00:00', '2023-01-19 06:00:00',
               '2023-01-19 12:00:00', '2023-01-19 18:00:00',
               '2023-01-20 00:00:00', '2023-01-20 06:00:00',
               '2023-01-20 12:00:00', '2023-01-20 18:00:00',
               '2023-01-21 00:00:00', '2023-01-21 06:00:00',
               '2023-01-21 12:00:00', '2023-01-21 18:00:00',
               '2023-01-22 00:00:00', '2023-01-22 06:00:00',
               '2023-01-22 12:00:00', '2023-01-22 18:00:00',
               '2023-01-23 00:00:00', '2023-01-23 06:00:00',
               '2023-01-23 12:00:00', '2023-01-23 18:00:00',
               '2023-01-24 00:00:00', '2023-01-24 06:00:00',
               '2023-01-24 12:00:00', '2023-01-24 18:00:00',
               '2023-01-25 00:00:00', '2023-01-25 06:00:00',
               '2023-01-25 12:00:00', '2023-01-25 18:00:00',
               '2023-01-26 00:00:00', '2023-01-26 06:00:00',
               '2023-01-26 12:00:00', '2023-01-26 18:00:00',
               '2023-01-27 00:00:00', '2023-01-27 06:00:00',
               '2023-01-27 12:00:00', '2023-01-27 18:00:00',
               '2023-01-28 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [7]:
# m : month end
pd.date_range(start="2023/1/5",end="2023/2/28",freq="M")

DatetimeIndex(['2023-01-31', '2023-02-28'], dtype='datetime64[ns]', freq='M')

In [8]:
# Ms :month start
pd.date_range(start="2023/1/5",end="2023/2/28",freq="MS")

DatetimeIndex(['2023-02-01'], dtype='datetime64[ns]', freq='MS')

In [9]:
# A: year end
pd.date_range(start="2023/1/5",end="2030/1/28",freq="A")

DatetimeIndex(['2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [11]:
#using pewriods (numders of result)
pd.date_range(start="2023/1/5",periods=25,freq="H")

DatetimeIndex(['2023-01-05 00:00:00', '2023-01-05 01:00:00',
               '2023-01-05 02:00:00', '2023-01-05 03:00:00',
               '2023-01-05 04:00:00', '2023-01-05 05:00:00',
               '2023-01-05 06:00:00', '2023-01-05 07:00:00',
               '2023-01-05 08:00:00', '2023-01-05 09:00:00',
               '2023-01-05 10:00:00', '2023-01-05 11:00:00',
               '2023-01-05 12:00:00', '2023-01-05 13:00:00',
               '2023-01-05 14:00:00', '2023-01-05 15:00:00',
               '2023-01-05 16:00:00', '2023-01-05 17:00:00',
               '2023-01-05 18:00:00', '2023-01-05 19:00:00',
               '2023-01-05 20:00:00', '2023-01-05 21:00:00',
               '2023-01-05 22:00:00', '2023-01-05 23:00:00',
               '2023-01-06 00:00:00'],
              dtype='datetime64[ns]', freq='H')

## to_date time function
- converts existing object to pandas timestamp/datetimeindex object

In [13]:
s = pd.Series(["2023/1/1","2023/1/2","2023/1/3"])

In [16]:
pd.to_datetime(s).dt.month_name()

0    January
1    January
2    January
dtype: object