## Data Analysis Process
**1 Asking Question**
**2 Data Wrangling**
  - Gathering Data
     1. csv files
     2. APIs
     3. Web Scrapping
     4. Databases
  - Assessing Data
  - Cleaning Data
  - EDA
  - Drawing Conclusion
  - Communicating Results

## Summary of Data Assesing
- You have to Serlock
- Will try to create a framework
- Framework may vary
- The goal is to give you idea

## 1. Data wrangling
 - Data Gathering
 - Data Accessing
 - Data Cleaning

## Data Acessing
In this step, the data is to be understand more deeply, before implementing methods to clean it, and you need to definitely an idea about what the data is about

# Type of unclean Data
There are two type of unclean data
- Dirty Data: Also known as low quality data, has following issues
   - Duplicates data
   - Missing Data
   - Corrupt Data
   - Inaccurate Data
- Messy Data : Also known as untidy data, Untidy has structural issues,having following properties
   - Each Variables forms a columns
   - Each obsevation forms a rows
   - Each Obsevational unit forms a table

In [1]:
import numpy as np
import pandas as pd

In [2]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatment.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')
treatments_cut = pd.read_csv('treatments_cuts.csv')

In [6]:
treatments.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [10]:
adverse_reactions.head()

  given_name     surname           adverse_reaction
0      berta  napolitani  injection site discomfort
1       lena        baer               hypoglycemia
2     joseph         day               hypoglycemia
3     flavia  fiorentino                      cough
4    manouck     wubbels          throat irritation

In [11]:
treatments_cut.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,jožka,resanovič,22u - 30u,-,7.56,7.22,0.34
1,inunnguaq,heilmann,57u - 67u,-,7.85,7.45,NaN
2,alwin,svensson,36u - 39u,-,7.78,7.34,NaN
3,thể,lương,-,61u - 64u,7.64,7.22,0.92
4,amanda,ribeiro,36u - 44u,-,7.85,7.47,0.38

In [12]:
adverse_reactions.head()

  given_name     surname           adverse_reaction
0      berta  napolitani  injection site discomfort
1       lena        baer               hypoglycemia
2     joseph         day               hypoglycemia
3     flavia  fiorentino                      cough
4    manouck     wubbels          throat irritation

### 1. Write a summary for your data

This is a dataset about 500 patients of which 350 patients participated in a clinical trial. None of the patients were using Novodra (a popular injectable insulin) or Auralin (the oral insulin being researched) as their primary source of insulin before. All were experiencing elevated HbA1c levels.

All 350 patients were treated with Novodra to establish a baseline HbA1c level and insulin dose. After 4 weeks, which isn’t enough time to capture all the change in HbA1c that can be attributed by the switch to Auralin or Novodra:

- 175 patients switched to Auralin for 24 weeks
- 175 patients continued using Novodra for 24 weeks

Data about patients feeling some adverse effects is also recorded.

### 2. Write Column descriptions

#### **Table** -> `patients`:

- `patient_id`: the unique identifier for each patient in the Master Patient Index (i.e. patient database) of the pharmaceutical company that is producing Auralin
- `assigned_sex`: the assigned sex of each patient at birth (male or female)
- `given_name`: the given name (i.e. first name) of each patient
- `surname`: the surname (i.e. last name) of each patient
- `address`: the main address for each patient
- `city`: the corresponding city for the main address of each patient
- `state`: the corresponding state for the main address of each patient
- `zip_code`: the corresponding zip code for the main address of each patient
- `country`: the corresponding country for the main address of each patient (all United states for this clinical trial)
- `contact`: phone number and email information for each patient
- `birthdate`: the date of birth of each patient (month/day/year). The inclusion criteria for this clinical trial is age >= 18 (there is no maximum age because diabetes is a growing problem among the elderly population)
- `weight`: the weight of each patient in pounds (lbs)
- `height`: the height of each patient in inches (in)
- `bmi`: the Body Mass Index (BMI) of each patient. BMI is a simple calculation using a person's height and weight. The formula is BMI = kg/m2 where kg is a person's weight in kilograms and m2 is their height in metres squared. A BMI of 25.0 or more is overweight, while the healthy range is 18.5 to 24.9. The inclusion criteria for this clinical trial is 16 >= BMI >= 38.

#### **Table** -> `adverse_reactions`

- `given_name`: the given name of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- `surname`: the surname of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- `adverse_reaction`: the adverse reaction reported by the patient

### 3. Add any additional information

Additional useful information:

- Insulin resistance varies person to person, which is why both starting median daily dose and ending median daily dose are required, i.e., to calculate change in dose.
- It is important to test drugs and medical products in the people they are meant to help. People of different age, race, sex, and ethnic group must be included in clinical trials. This diversity is reflected in the patients table.

### Types of Assessment
There are 2 types of assessment styles

- `Manual` - Looking through the data manually in google sheets
- `Programmatic` - By using pandas functions such as info(), describe() or sample()

### Steps in Assessment
There are 2 steps involved in Assessment

- Discover
- Document

In [15]:
treatments.shape, treatments_cut.shape

((280, 7), (70, 7))

In [16]:
adverse_reactions.shape, patients.shape

((34, 3), (503, 14))

In [17]:
# export data for manual assessment

with pd.ExcelWriter('clinical_trials.xlsx',) as writer:
  patients.to_excel(writer,sheet_name='patients',index=False)
  treatments.to_excel(writer,sheet_name='treatments', index=False)
  treatments_cut.to_excel(writer,sheet_name='treatment_cut', index=False)
  adverse_reactions.to_excel(writer,sheet_name='adverse_reactions',index=False)

### Issues with the dataset

1. Dirty Data

  Table - `Patients`

    - patient_id = 9 has misspelled name 'Dsvid' instead of David
    - state col sometimes contain full name and some times abbrivietation
    - zip code col has entries with 4 digit
    - data missing

  Table - `Treatments` & `Treatments_cut`

    - given_name and surname col is is all lower case
    - remove u from Auralin and Novadra cols
    - '-' in novadra and Auralin col treated as nan
    - missing values in hba1c_change col

2. Messy Data

  Table - `Patients`

    - contact col contains both phone and email

  Table - `Treatments` & `Treatments`

    - Auralin and Novadra col should be split into 2 cols start and end dose

### Automatic Assessment

- head and tail
- sample
- info
- isnull
- duplicated
- describe

In [20]:
patients.sample(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
438,439,female,Hannah,McIntosh,260 Derek Drive,New Philadelphia,OH,44663.0,United States,330-365-4059HannahMcIntosh@superrito.com,9/13/1946,112.0,67,17.5
37,38,female,Albinca,Komavec,1257 Elsie Drive,Huron,SD,57350.0,United States,AlbincaKomavec@rhyta.com+1 (605) 204-6572,6/5/1986,189.9,66,30.6
174,175,female,Michelle,Tansey,284 Mudlick Road,Spokane,WA,99218.0,United States,509-466-2907MichelleDTansey@dayrep.com,2/15/1978,147.8,61,27.9
135,136,male,Willem-Jan,van der Lubbe,1717 Vineyard Drive,Cleveland,OH,44115.0,United States,Willem-JanvanderLubbe@gustr.com440-385-5011,7/9/1941,152.9,69,22.6
488,489,male,Mika,Martinsson,962 George Street,Ocala,Florida,34471.0,United States,352-453-4601MikaMartinsson@armyspy.com,1/27/1970,165.0,67,25.8

In [22]:
patients["address"].isnull

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,False,False,False,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,False,False,False,False
500,False,False,False,False,False,False,False,False,False,False,False,False,False,False
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False

### Data Quality Dimensions

- Completeness -> is data missing?
- Validity -> is data invalid -> negative height -> duplicate patient id
- Accuracy -> data is valid but not accurate -> weight -> 1kg
- Consistency -> both valid and accurate but written differently -> New Youk and NY

### Order of severity

Completeness <- Validity <- Accuracy <- Consistency

### Data Cleaning Order

1. Quality -> Completeness
2. Tidiness
3. Quality -> Validity
4. Quality -> Accuracy
5. Quality -> Consistency

#### Steps involved in Data cleaning
- Define
- Code
- Test

`Always make sure to create a copy of your pandas dataframe before you start the cleaning process`